.App-logo {
    height: 40px;
    width: 40px;
    margin: 15px;
  }
  
  .App-header {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    padding: 5px;
    font-weight: 900;
  }
  
  .col-100vh {
    height: 100vh;
  }
  
  .App-link {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .Container{
    padding: 0px !important;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  