.folderItem:hover {
  background-color: #dee2e6;
}

.actived {
  background-color: #dee2e6;
}

.folderItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid #dee2e6;
}

/* .folderItem input {
} */
.nextButton {
  width: 15px;
  height: 15px;
}

.folderName {
  padding-left: 15px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folderItem .nextButton {
  margin-left: auto;
}
